:root {
    --G_purple: #4f4b6f;
    --H_purple: #c2b4d2;
    --L_purple: #8b76a4;
    --LD_purple: #271e33;
    --MD_purple: #251633;
    --D_purple: #1e0d33;
    --D_brown: #3e250c;
    --D_background: #1C1B20;
    --D_background_dark:#131313;
    --L_gray: #dfdfdf;
    --H_yellow: #d2d37b;
    --SB-yellow:#FEFFD6;
    --LW-yellow:#bfc09b;
    --ML_gray: #d9d9d9;
    --l-gray:#ACACAC;
    --C_brown:#584626 ;
    --MD_brwon:#382614 ;
    --CD_brown:#3D332A;
    --CMD_brown:#3E2914;
    --L_brown:#76502F;
    --b-cyan: #4F6C82;
    --font-inter: "Inter", sans-serif;
    --font-inika: "Inika", serif;
    --font-lato: "Lato", sans-serif;
}

body{
    height: 100vh;
}

section{
    display: flex;
    height: 75%;
    align-items: center;
    justify-content: center;
    padding: 5rem;
}
.user{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    box-sizing: border-box;
}




@media (max-width: 992px) {

    section{
        height: 100%;
    }
    section > div:first-child,
    section > div:last-child {
        box-sizing: border-box;
        height: 100%;
    }
    section>div:first-child{
        text-align: center;
        width: 40%;
        height: 100%;
        background-color: #CBBEA7;
        border-radius: 12px 0 0 12px; ;
    }
    
    section>div:last-child{
        font-size: 24px;
        padding: 10px;
        width: 60%;
        height: 100%;
        background-color: var(--SB-yellow);
        border-radius: 0 12px 12px 0 ;
    }
    
.img-users{
    width: 100%;
    height: 96%;
    object-fit: contain;
    border-radius: 100%;
    padding: 20px;
}
section{
    display: flex;
    height: 75%;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}
.email.info{

    font-size: 12px;

    
}
.prog{
    font-size: 14px;
    
    }
    }
     @media (min-width: 991.98px){
        section{
            height: 100%;
        }
        section > div:first-child,
        section > div:last-child {
            box-sizing: border-box;
            height: 100%;
        }
        section>div:first-child{
            text-align: center;
            width: 30%;
            height: 100%;
            background-color: #CBBEA7;
            border-radius: 12px 0 0 12px; ;
        }
        
        section>div:last-child{
            font-size: 24px;
            padding: 30px;
            width: 70%;
            height: 100%;
            background-color: var(--SB-yellow);
            border-radius: 0 12px 12px 0 ;
        }

        .img-users{
            width: 200px;
            height: 96%;
            object-fit: contain;
            border-radius: 100%;
            margin-top: 10px;
        }
        .prog{
            font-size: 24px;
            
            }

    }