<!-- templates/course/404.html -->
{% extends "course/base.html" %}
{% load django_vite %}

{% block title %}Page not found{% endblock title %}

{% block body %}
<style>
    .vista {
        display: none !important;
    }
</style>
<div class="body found div-center">
    <div class="found-content">
        <div class="img-404"></div>
        <div class="div-center" style="display: flex;flex-direction: column;">
            <h1 style="text-align: center;">Page not found</h1>
            <a class="btn btn-basic" style="background-color: var(--MD_brwon); color: whitesmoke;" href="/">Return</a>
        </div>
    </div>
</div>

{% vite_asset 'course/js/figure404.js' %}
{% endblock body %}