<!DOCTYPE html>
{% load static %}
{% load django_vite %}
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %} {% endblock title %}</title>
  <link rel="stylesheet" href="{% static 'course/css/base.css' %}?{% now 'U' %}" />
  <script src="{% static 'course/js/base.js' %}"></script>

  {% vite_asset 'course/js/styles.js' %}
  {% block head %} {% endblock head %}
</head>

<body class="theme">
  <nav class="theme navbar navbar-expand-lg navbar-light bg-color">
    <div class="container-fluid">
      {% if user.is_authenticated %}
      <span id="user_id" style="display: none;">{{ user.id }}</span>
      {% endif %}
      <a class="navbar-brand lato-bold div-center" href="/">
        <img id="nav-img" class="nav-img" src="{% static 'course/images/geocafe.png' %}" alt="GeoCafe"
          data-light-src="{% static 'course/images/geocafe.png' %}"
          data-dark-src="{% static 'course/images/geocafe-darkmode.png' %}">
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="theme navbar-nav">
          <div class="content">
            <a class="theme nav-link" href="{% url 'course:units' %}">Units</a>
            <a class="theme nav-link" href="">Exercises</a>
            <a class="theme navbar-nav nav-link" href="">Test</a>
            <a class="theme navbar-nav nav-link" href="">Leaderboard</a>
          </div>
          <div class="btn-right">
            {% if user.is_authenticated %}
            <a class="btn btn-basic active" href="{% url 'course:logout' %}">Logout</a>
            <button class="btn btn-basic active" id="mode">Mode</button>
            <a class="btn btn-basic active" href="{% url 'course:account_settings' %}">Settings</a>
            {% else %}
            <a class="btn btn-basic active" href="{% url 'course:login' %}">Login</a>
            <a class="btn btn-basic active" href="{% url 'course:register' %}">Register</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </nav>
  {% block body %} {% endblock body %}
  <script src="{% static 'course/js/darkmode.js' %}"></script>
</body>

</html>