{% extends "course/base.html" %}
{% load static %}
{% block title %} Code Editor {% endblock title %}
{% block head %}
    <!-- js-dos style sheet -->
    <link rel="stylesheet" href="https://v8.js-dos.com/latest/js-dos.css">
    <!-- js-dos -->
    <script src="https://v8.js-dos.com/latest/js-dos.js"></script>
    <link rel="stylesheet" href="{% static 'course/css/code_editor.css' %}">
{% endblock head %}
{% block body %}
    <div id="another">
        <div id="container">
            <div>
                <textarea name="" id=""></textarea>
            </div>
            <div id="dos" style="width: 50%; height: 100%"></div>
        </div>
    </div>

    <script>
        Dos(document.getElementById("dos"), {
            url: "",
        });
    </script>
{% endblock body %}