{% extends "course/base.html" %}
{% load static %}
{% block title %} JS-DOS {% endblock title %}
{% block head %}
    <style>
        #container {
            width: 50%;
            height: 70%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #another{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }


    </style>

    <!-- js-dos style sheet -->
    <link rel="stylesheet" href="https://v8.js-dos.com/latest/js-dos.css">

    <!-- js-dos -->
    <script src="https://v8.js-dos.com/latest/js-dos.js"></script>
{% endblock head %}
{% block body %}
    <div id="another">
        <div id="container">
            <div id="dos" style="width: 100%; height: 100%"></div>
        </div>
    </div>

    <script>
        Dos(document.getElementById("dos"), {
            url: "",
        });
    </script>
{% endblock body %}