{% extends "../course/base.html" %}

{% block title %} Index {% endblock title %}
{% block head %}

{% endblock head %}

{% block body%}

    <div class="bar">
        <a class="bar-text nav-link" href="">Tips</a>
        <a class="bar-text nav-link" href="">resourse</a>
        <a class="bar-text " href="">Try using our built-in IDE!</a>
    </div>

    <div class="master">
        <div class="mcg">
            <h1>Mater</h1>
            <h1>Computational</h1>
            <h1>Geometry</h1>
        </div>
        <div class="img-mster">
            <img class="img-master" src="https://st2.depositphotos.com/3725083/5484/i/450/depositphotos_54844903-stock-photo-3d-cube-on-white-background.jpg" alt="Cubo">
        </div>
    </div>
    <div class="star-here">
        <a class="starhere" href="#">
            <h1 class="starhere-text"> Start Here!</h1> 
        </a>
    </div>
    <div class="learn">
        <h1 class="learn-text">
            Learn from scratch with our university endorsed agenda
        </h1>
    </div>
    <div class="basic-a">
        <div class="attain-txt">
            <h1>
                Attain the basics used in different programing languages!
            </h1>
        </div>
        <div class="img-tain">
            <img class="img-attain" src="https://http2.mlstatic.com/D_NQ_NP_636119-MLA44029952524_112020-O.webp" alt="grano_cafe">
        </div>
    </div>
    <div class="searching">
        <h1 class="searching-text">Searching for an specific theme? <a href="#">Click here</a> </h1>
        

    </div>
    <footer class="footer lato-bold">
      <a class="footer-text" href="#">Contact us</a>
      <a  class="footer-text" href="#">Geocafe Docs</a>
    </footer>

    

{% endblock body%}
