{% extends "../course/base.html" %}
{% load static %}
{% load django_vite %}

{% block title %} Index {% endblock title %}
{% block head %}
{% endblock head %}

{% block body%}
<div class="theme bar">
    <a class="bar-text nav-link" href="">Tips</a>
    <a class="bar-text nav-link" href="">resourse</a>
    <a class="bar-text " href="">Try using our built-in IDE!</a>
</div>

 <button class="btn btn-basic active" id="mode">Mode</button>
<div class="theme master">
    <div class="mcg">
        <h1>Master</h1>
        <h1>Computational</h1>
        <h1>Geometry</h1>
    </div>
    <div class="img-master">
       
    </div>
</div>

<div class="star-here">
    <a class="starhere" href="">
        <h1 class=" theme starhere-text"> Start Here!</h1> 
    </a>
</div>

<div class="learn">
    <h1 class="theme learn-text">
        Learn from scratch with our university endorsed agenda
    </h1>
</div>

<div class="basic-a">
    <div class=" theme attain-txt div-center">
        <h1>
            Attain the basics used in different programing languages!
        </h1>
    </div>
    <div class="img-tain">
        
    </div>
</div>

<div class="theme searching">
    <h1 class=" searching-text">Searching for an specific theme? <a href="">Click here</a> </h1>
</div>

{% vite_asset 'js/index-figure1.js' %}
{% vite_asset 'js/index-figure2.js' %}


<footer class="theme footer lato-bold">
    <a class="footer-text" href="">Contact us</a>
    <a  class="footer-text" href="">Geocafe Docs</a>
</footer>
    

{% endblock body%}

