{% extends "course/base.html" %}


{% block title %} Login {% endblock title %}
{% block head %}

{%endblock head%}

{% block body %}

<div class="div-login">
    <div class="login">
        <h1 class="login-text lato-bold">Login</h1>
        <h3>{{ error_message }}</h3>
            <form  class="form" action="{% url 'course:login' %}" method="POST">
                {% csrf_token %}
                <div class="form-div">
                    <label for="username-input" class="lato-bold label">Nickname</label>
                    <input id="username-input" class="lato-bold input" type="text" placeholder="Enter your nickname" name="username" value="{{ previous_data.username }}" required>
                </div>
                <div class="form-div">
                    <label class="lato-bold label" for="password-input">Password</label>
                    <input class="lato-bold input" id="password-input" type="password" placeholder="Write your password" name="password" value="{{ previous_data.password }}" required>
                </div>
                <div class="div-center">
                <button class="btn btn-basic " type="submit">Login</button>
                </div>
                
            </form>
        <p class="lato-bold">Don't have an account? <a href="{% url 'course:register' %}">Sign up</a></p>
    </div>
</div>
{% endblock body %}