{% extends "course/base.html" %}
{% load static %}
{% block title %} Units {% endblock title %}
{% block head %}
    <link rel="stylesheet" href="{% static 'course/css/units.css' %}?{% now 'U' %}">
{% endblock head %}

{% block body %}
    {% for unit in units %}
    <button type="button" class="collapsible"><h3> {{unit.name|safe}} </h3></button>
    <div class="conten">
        {% for topic in topics %}
            {% if topic.unit.id == unit.id %}
            <a href="{% url 'course:topic' topic.id %}"><h5>{{ topic.name|safe }}</h5></a>
            {% endif %}
        {% endfor %}
    </div>
{% endfor %}
    <button type="button" class="collapsible"><h3>Units 2</h3></button>
    <div class="conten">
        <a href="">topic 1</a>
        <a href="">topic 2</a>
        <a href="">topic</a>
    </div>
    <button type="button" class="collapsible"><h3>Units 3</h3></button>
    <div class="conten">
        <a href="">topic 1</a>
        <a href="">topic 2</a>
        <a href="">topic</a>
    </div>
    <script src="{% static 'course/js/units.js' %}"></script>
{% endblock body %}