{% extends "course/base.html" %}
{% load static %}
{% block title %} User account {% endblock title %}
{% block head %}
    <link rel="stylesheet" href="{% static 'course/css/user_page.css' %}">
{% endblock head %}
{% block body %}
    <section class="theme">
        <div class="user">
            <div class="">
            <img src="{% static 'course/images/img-users.jpg' %}" alt="user" class="img-users">
            </div>
            <div class="info">
            <hr>
            <h2 class="info"> {{ user.username }} </h2>
            <hr>
            <h3> {{ user.first_name }} {{ user.last_name }} </h3>
            <hr>
            <div class="logros">Convo1</div>
            <hr>
            <p class="email info"> {{ user.email }} </p>
            </div>
        </div>
        <div class="prog">
            <h1>Progress</h1>
            <hr>
            <ul>
                <li>foo</li>
                <li>bar</li>
                <li>baz</li>
            </ul>
        </div>
    </section>
{% endblock body %}