{% extends "course/base.html" %}
{% load static %}
{% block title %} User account {% endblock title %}
{% block head %}
<link rel="stylesheet" href="{% static 'course/css/user_page.css' %}">
{% endblock head %}
{% block body %}
{{ request.user.id|json_script:"user_id" }}
<section class="theme">
    <div class="theme user">
        <div class="">
            {% if profile_picture %}
            <img src="{{ profile_picture }}" alt="Profile Picture" id="profile-picture" class="img-users">
            {% else %}
            <img src="{% static 'course/images/default-profile-picture.png' %}" alt="Profile-picture"
                id="profile-picture" class="img-users">
            {% endif %}
        </div>
        <div class="info">
            <hr>
            <h2 class="info"> {{ user_requested.username }} </h2>
            <hr>
            <h3> {{ user_requested.first_name }} {{ user_requested.last_name }} </h3>
            <hr>
            <div class="logros">
                {% for badge in badges %}
                <img src="{{ badge.image.url }}" alt="{{ badge.name }}" class="badge-icon">
                {% endfor %}
                <img src="{% static 'course/images/test-badge.png' %}" alt="test-badge" class="badge-icon">
            </div>
            <hr>
            <p class="email info"> {{ user_requested.email }} </p>
        </div>
    </div>
    <div class=" theme prog">
        <h1>Progress</h1>
        <hr>
        <ul>
            {% for unit in progress %}
            <li class="user-text"><h1 class="user-text">{{unit.name|safe}}</li>
            {% endfor %}
        </ul>
    </div>
</section>
{% endblock body %}