{% extends "course/base.html" %}
{% load static %}
{% block title %} User account {% endblock title %}
{% block head %}
    <link rel="stylesheet" href="{% static 'course/css/user_page.css' %}">
    <script src="{% static 'course/js/user_page.js' %}"></script>
{% endblock head %}
{% block body %}
    {{ profile_picture_update|json_script:"profile_picture_update" }}
    <section class="theme">
        <div class="theme user">
            <div class="">
            <img src="" alt="Profile Picture" id="profile-picture" class="img-users">
            </div>
            <div class="info">
            <hr>
            <h2 class="info"> {{ user_requested.username }} </h2>
            <hr>
            <h3> {{ user_requested.first_name }} {{ user_requested.last_name }} </h3>
            <hr>
            <div class="logros">
                {% for badge in badges %}
                    <img src="{{ badge.image.url }}" alt="{{ badge.name }}" class="badge-icon">
                {% endfor %}
                <img src="{% static 'course/images/test-badge.png' %}" alt="test-badge" class="badge-icon">
            </div>
            <hr>
            <p class="email info"> {{ user_requested.email }} </p>
            </div>
        </div>
        <div class=" theme prog">
            <h1>Progress</h1>
            <hr>
            <ul>
                {% for unit in progress %}
                    <li>{{unit.name|safe}}</li>
                {% endfor %}
            </ul>
        </div>
    </section>
{% endblock body %}